{% extends 'base.html' %}
{% block content %}
    <div class="breadcrumb-area pt-35 pb-35 bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- compare main wrapper start -->
    <div class="checkout-main-area pt-70 pb-70">
        <div class="container">
            <div class="checkout-wrap pt-30">
                <h1 style="text-align: center;">Succesfull!!!</h1>
            </div>
        </div>
    </div>
    <!-- compare main wrapper end -->
{% endblock %}